footer{
    background-color: $color-primario;
    .logo{
        width: 120px; 
        height: auto;
    }
    h4{
        font-family: $fuente-neuton;
        font-weight: $fuente-negrita;
        
    }
    .nav-link{
        font-weight: $fuente-negrita;
        font-family: $fuente-cabin;
    }

}

