header{
    background-color: $color-primario;
    .logo{
        width: 120px; 
    }
    .navbar-toggler:focus{
        box-shadow: none;
    }
    .navbar{
        width: 100%;
        background-color: $color-primario;
        color:$color-primario;
        .navbar-nav{
            .nav-item {
                .nav-link {
                    font-family: $fuente-poppins;
                    font-weight: bold;
                    color: $color-tituloindex;
                    font-size: $fuente-chica;
                    &:hover{
                        color: $color-hover-nav;
                        transition: color 0.4s;
                        transform: scale(1.05,1.05);
                        
                    }
                }   
            }
        }
    }
    
    .menu{
        font-family: $fuente-poppins;
        font-size: $fuente-chica;

    }
    }
    .backgroundButton{
        font-family: $fuente-cabin;
        background-color: $button-color;
        &:hover{
            background-color: $color-hover;

        }
        .colorContent{
            color:$color-primario;
        }
    }
