
$color-primario:#C4BAA4;
$color-secundary:#B2BEA1;
$color-tituloindex:#6d0e13da;
$color-titulos:#cecec1; 
$color-texto:rgb(255, 255, 255);    
$color-texto-parrafo:#1c2022;
$color-texto-main: #C9DFDF;
$color-hover:#532528cc;
$color-hover-button: #e49297;
$color-hover-nav:#eeec7a;

$background-primary: #E0CDA2;
$background-secundary:#1c242abb;
$background-tercerary:#6b3e40;
$background-quaternary:#75d6da21;

$margin-img: 5px;
$margin-img-lg: 15px;
$margin-box-shadow: 0 0 5px 5px;

$button-color:#6D0E13;

$fuente-cabin:"Cabin", sans-serif;
$fuente-poppins: "Poppins", sans-serif;
$fuente-bebas: "Bebas Neue", sans-serif;
$fuente-neuton: "Neuton", serif;
$fuente-doppio: "Doppio One", sans-serif;
$font-Angelwish: 'Angel wish', sans-serif;
$font-righteous: "Righteous", sans-serif;

$fuente-chica:20px;
$fuente-grande:50px;
$fuente-xll:65px;

$text-shadow:
-1px -1px 0 #000,  
1px -1px 0 #000,
-1px 1px 0 #000,
1px 1px 0 #000;

$fuente-negrita: bold;

$sizes:(
    10 : 10px,
    15 : 15px,
    20 : 20px,
    25 : 25px
);
